nav {
  max-height: 48px;
  overflow: hidden;
  transition: ease-out 300ms;
}

nav.nav-expand {
  max-height: 150px;
}

.nav-dropdown {
  position: absolute;
  right: 10px;
  top: 23px;
  transform: translateY(-50%) scale(1.5);
  cursor: pointer;
  transition: ease-in 200ms;
}
.dropdown-rotate {
  transform: translateY(-50%) scale(1.5) rotate(180deg);
}

.dynamic-header-links {
  max-height: 0px;
  overflow: hidden;
  opacity: 0;
  transition: ease-out 300ms, opacity 300ms ease-out;
}

.dynamic-header-links.visible {
  max-height: 560px;
  opacity: 1;
}

.search-bar {
    flex: 1 1 100%;
    position: relative;
    min-width: 100px;
}

.search-icon {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  fill: #9aa0a6;
}

.search-input {
  position: absolute;
  display: block;
  padding: 0 46px;
  width: 100%;
  height: 100%;
  border: 1px solid #dfe1e5;
  border-radius: 25px;
  font-size: 0.75rem;
}

/* .uploadCarImageButton::-webkit-file-upload-button {
  background: none;
  border: none;
} */

.uploadVehicleImage {
  opacity: 0;
  position: absolute;
  height: 0px;
  /* top: 0; */
}

.dashboard-divider {
  position: relative;
}

.carUploadPreview {
  max-height: 500px;
  /* height: 30vh; */
}

.dashboard-divider::before {
  display: none;
  content: '';
  height: 100%;
  width: 2px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.2);
  left: 0;
  top: 0;
  position: absolute;
}


.homebody-img-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
}

.homebody-img-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0%;
  width: 75%;
  height: 100%;
  border-radius: 12px;
  background-color: #291a2d;
  z-index: -1;
}

.homebody-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  z-index: 10;
}

.home-verify-advert {
  position: relative;
  overflow: visible;
}

.home-verify-advert::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(219, 198, 224, 1);
  z-index: -1;
}

aside .homebody-features {
  box-shadow: 0px 0px 10px #dbc6e0;
}

.verify-input-placeholder::placeholder {
  font-size: 0.475rem;
  font-weight: 600;
  word-wrap: break-word;
}

.buyer-input-placeholder::placeholder {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  outline: none;
  word-wrap: break-word;
}

@media screen and (min-width: 768px) {
  .nav-dropdown {
    display: none;
  }
  .dashboard-divider::before {
    display: block;
  }
}

@media (min-width: 640px) {
  .homebody-img-wrapper {
    width: 100%;
    height: 400px;
  }

  .homebody-img-wrapper::after {
    left: 25%;
    max-width: 80%;
    height: 100%;
  }
}
/* signup error message */
.errormessage {
  grid-column-start: 2;
  grid-column-end: 5;
}
