@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;700&family=Genos&family=Merriweather:wght@300;400;700&family=Open+Sans:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');


* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-around;
  padding: 15px 8px;
  text-align: center;
}

.logo {
  background-image: url(./assets/logo.png);
  width: 35px;
  height: 35px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.nav-links {
  align-items: center;
  text-align: center;
}

.nav-links a {
  text-decoration: none;
  padding: 5px 10px;
  color:  #AB97AF;
  font-size: 15px;
  margin: 3px .5rem;
}

.nav-links a:hover {
  color: #291A2D;
  text-decoration: underline;
  font-weight: bold;
}

button:nth-child(1) {
  background: #291A2D;
  color: white;
  border-radius: 50px;
  border: 2px solid #291A2D;
  padding: 5px 25px;
  font-size: small;
  margin: 0 12px;
}

button:nth-child(1):hover {
  background: #291A2D;
  border: 2px solid #291A2D;
}

button:nth-child(2) {
  color: #291A2D;
  border-radius: 50px;
  border: 2px solid #291A2D;
  padding: 5px 25px;
  font-size: small;
  margin: 0 12px;
}

button:nth-child(2):hover {
  color: white;
  background: #291A2D;
}

@media screen and (max-width: 768px) {
  button {
    display: none;
  }

/* .links {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  .nav-links a, .bttns {
    padding: 15px 5px;
    display: flex;
    flex-direction: column;
  }

  .nav-links a {
  } */
}