
.social-link {
  @apply bg-black text-white p-1  rounded-2xl  transform duration-150 hover:scale-110 hover:bg-pry-accent;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

.social-link {
  @apply bg-black text-white p-1  rounded-2xl  transform duration-150 hover:scale-110;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-around;
  padding: 15px 8px;
  text-align: center;
}

header .logo {
  background-image: url(./assets/logo.png);
  width: 35px;
  height: 35px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

header .nav-links {
  align-items: center;
  text-align: center;
}

header .nav-links a {
  text-decoration: none;
  padding: 5px 10px;
  color: #ab97af;
  font-size: 15px;
  margin: 3px 0.5rem;
}

header .nav-links a:hover {
  color: #291a2d;
  text-decoration: underline;
  font-weight: bold;
}

header button:nth-child(1) {
  background: #291a2d;
  color: white;
  border-radius: 50px;
  border: 2px solid #291a2d;
  padding: 5px 25px;
  font-size: small;
  cursor: pointer;
  margin: 0 12px;
}

header button:nth-child(1):hover {
  background: #291a2d;
  border: 2px solid #291a2d;
}

header button:nth-child(2) {
  color: #291a2d;
  border-radius: 50px;
  border: 2px solid #291a2d;
  padding: 5px 25px;
  font-size: small;
  cursor: pointer;
  margin: 0 12px;
}

header button:nth-child(2):hover {
  color: white;
  background: #291a2d;
}

header .icon {
  display: none;
}

@media screen and (max-width: 768px) {
  header button {
    display: none;
  }

  header .nav-links {
    display: none;
  }

  header .icon {
    display: block;
  }

  /* .links {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  .nav-links a, .bttns {
    padding: 15px 5px;
    display: flex;
    flex-direction: column;
  }

  .nav-links a {
  } */
}
